[package]
name = "tiger-parse"
version = "0.1.8"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.72"
destiny-pkg = { version = "^0.9.9", optional = true }
tracing = { version = "0.1.37", optional = true }
glam = { version = "0.27.0" }
tiger-parse-derive = { path = "./tiger-parse-derive" }
# thiserror = "1.0.50"

[features]
default = ["check_types"]

32bit = []
check_types = []
# Check types in strict mode. 0xFFFFFFFF are not allowed in strict mode.
check_types_strict = []
destiny_pkg = ["dep:destiny-pkg"]
check_types_debug = ["dep:tracing"]
